*{
    text-align: center;
}
h2{
    font-size: 24px;
    color: brown;
    text-decoration: underline wavy green;

}
div ul{
    list-style-type: none;
}

  div ul li{
    text-align: center;
    text-decoration:underline wavy black;
    font-size: 24px;
}